In [1]:
from sklearn.datasets import make_classification
from matplotlib import pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
import pandas as pd
import numpy as np
import os
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.linear_model import SGDClassifier
from sklearn.svm import SVC
from sklearn.neural_network import MLPClassifier

In [2]:
train_path = "../FinalProject/train_final.csv"
test_path = "../FinalProject/test_final.csv"
train = pd.read_csv(train_path)
test = pd.read_csv(test_path)
test.drop(columns=['ID'], inplace=True)

In [3]:
train.head(10)

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income>50K
0,53,Self-emp-not-inc,93449,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,1
1,33,Self-emp-not-inc,123424,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,1
2,47,Private,144844,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,0
3,40,Private,114580,HS-grad,9,Divorced,Craft-repair,Other-relative,White,Female,0,0,40,Vietnam,0
4,39,Private,115618,HS-grad,9,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,50,United-States,0
5,33,Private,159322,HS-grad,9,Divorced,Other-service,Unmarried,White,Male,0,0,40,United-States,0
6,55,Private,50164,Doctorate,16,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,1
7,39,Private,370032,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,45,United-States,0
8,22,Private,209034,Some-college,10,Never-married,Other-service,Not-in-family,White,Female,0,0,35,United-States,0
9,27,Private,94090,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,50,United-States,0

In [4]:
test.head(10)

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country
0,33,Self-emp-not-inc,222162,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States
1,68,?,29240,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,0,12,United-States
2,34,Private,103596,HS-grad,9,Married-civ-spouse,Handlers-cleaners,Husband,White,Male,0,0,40,United-States
3,57,Private,103403,5th-6th,3,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,40,United-States
4,48,Private,152915,Some-college,10,Never-married,Adm-clerical,Not-in-family,White,Female,0,0,40,United-States
5,30,Self-emp-not-inc,173792,Some-college,10,Separated,Prof-specialty,Unmarried,Black,Female,0,0,40,United-States
6,25,State-gov,152035,Assoc-acdm,12,Never-married,Adm-clerical,Own-child,White,Female,0,0,40,United-States
7,54,Private,181246,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,0,0,40,United-States
8,31,Private,291052,Some-college,10,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,2051,40,United-States
9,63,Self-emp-not-inc,344128,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States

In [5]:
import collections
print("age")
print([item for item, count in collections.Counter(train['age']).items() if count >= 1])
print()
print("Workclass ")
print([item for item, count in collections.Counter(train['workclass']).items() if count >= 1])
print()
print("education")
print([item for item, count in collections.Counter(train['education']).items() if count >= 1])
print()
print("marital.status")
print([item for item, count in collections.Counter(train['marital.status']).items() if count >= 1])
print()
print("occupation")
print([item for item, count in collections.Counter(train['occupation']).items() if count >= 1])
print()
print("relationship")
print([item for item, count in collections.Counter(train['relationship']).items() if count >= 1])
print()
print("race")
print([item for item, count in collections.Counter(train['race']).items() if count >= 1])
print()
print("sex")
print([item for item, count in collections.Counter(train['sex']).items() if count >= 1])
print()
print("native.country")
print([item for item, count in collections.Counter(train['native.country']).items() if count >= 1])
print()

age
[53, 33, 47, 40, 39, 55, 22, 27, 37, 79, 31, 19, 21, 56, 26, 42, 30, 35, 68, 38, 34, 32, 72, 24, 50, 28, 49, 29, 51, 48, 41, 66, 60, 20, 76, 45, 52, 18, 44, 59, 75, 71, 46, 23, 17, 54, 36, 25, 57, 43, 58, 64, 61, 70, 90, 81, 85, 62, 65, 69, 67, 80, 63, 77, 78, 73, 84, 74, 88, 83, 82, 87, 89]

Workclass
['Self-emp-not-inc', 'Private', 'Federal-gov', 'Local-gov', 'Self-emp-inc', '?', 'State-gov', 'Never-worked', 'Without-pay']

education
['Prof-school', 'Bachelors', 'HS-grad', 'Doctorate', 'Masters', 'Some-college', '11th', '12th', '5th-6th', 'Assoc-acdm', '9th', 'Preschool', 'Assoc-voc', '7th-8th', '10th', '1st-4th']

marital.status
['Married-civ-spouse', 'Divorced', 'Never-married', 'Married-spouse-absent', 'Widowed', 'Separated', 'Married-AF-spouse']

occupation
['Prof-specialty', 'Exec-managerial', 'Craft-repair', 'Transport-moving', 'Other-service', 'Machine-op-inspct', 'Adm-clerical', 'Sales', 'Handlers-cleaners', '?', 'Farming-fishing', 'Tech-support', 'Priv-house-serv', 'Protective-serv', 'Armed-Forces']

relationship
['Husband', 'Other-relative', 'Unmarried', 'Not-in-family', 'Own-child', 'Wife']

race
['Asian-Pac-Islander', 'White', 'Black', 'Other', 'Amer-Indian-Eskimo']

sex
['Male', 'Female']

native.country
['India', 'United-States', 'Vietnam', 'England', 'Mexico', '?', 'Guatemala', 'Iran', 'Laos', 'Germany', 'Thailand', 'Ireland', 'Philippines', 'Hong', 'China', 'Dominican-Republic', 'Scotland', 'Haiti', 'Cuba', 'Jamaica', 'Peru', 'Canada', 'Cambodia', 'Italy', 'Poland', 'Yugoslavia', 'El-Salvador', 'Columbia', 'Greece', 'Ecuador', 'Japan', 'South', 'Puerto-Rico', 'Nicaragua', 'Outlying-US(Guam-USVI-etc)', 'Taiwan', 'Honduras', 'Trinadad&Tobago', 'Portugal', 'Hungary', 'France']

In [6]:
print("age")
print([item for item, count in collections.Counter(test['age']).items() if count >= 1])
print()
print("Workclass ")
print([item for item, count in collections.Counter(test['workclass']).items() if count >= 1])
print()
print("education")
print([item for item, count in collections.Counter(test['education']).items() if count >= 1])
print()
print("marital.status")
print([item for item, count in collections.Counter(test['marital.status']).items() if count >= 1])
print()
print("occupation")
print([item for item, count in collections.Counter(test['occupation']).items() if count >= 1])
print()
print("relationship")
print([item for item, count in collections.Counter(test['relationship']).items() if count >= 1])
print()
print("race")
print([item for item, count in collections.Counter(test['race']).items() if count >= 1])
print()
print("sex")
print([item for item, count in collections.Counter(test['sex']).items() if count >= 1])
print()
print("native.country")
print([item for item, count in collections.Counter(test['native.country']).items() if count >= 1])
print()

age
[33, 68, 34, 57, 48, 30, 25, 54, 31, 63, 22, 37, 50, 52, 26, 23, 38, 44, 40, 47, 27, 53, 59, 51, 24, 28, 42, 35, 20, 45, 17, 29, 43, 56, 58, 49, 21, 18, 67, 36, 19, 60, 64, 70, 32, 41, 61, 39, 55, 65, 74, 66, 62, 46, 76, 79, 69, 90, 71, 73, 72, 82, 75, 81, 77, 84, 78, 83, 85, 80, 88, 86, 89]

Workclass
['Self-emp-not-inc', '?', 'Private', 'State-gov', 'Federal-gov', 'Self-emp-inc', 'Local-gov', 'Never-worked', 'Without-pay']

education
['HS-grad', '5th-6th', 'Some-college', 'Assoc-acdm', 'Bachelors', 'Prof-school', '7th-8th', '11th', 'Assoc-voc', 'Masters', 'Doctorate', '10th', '1st-4th', '9th', '12th', 'Preschool']

marital.status
['Married-civ-spouse', 'Widowed', 'Never-married', 'Separated', 'Divorced', 'Married-spouse-absent', 'Married-AF-spouse']

occupation
['Craft-repair', '?', 'Handlers-cleaners', 'Transport-moving', 'Adm-clerical', 'Prof-specialty', 'Sales', 'Exec-managerial', 'Machine-op-inspct', 'Tech-support', 'Other-service', 'Farming-fishing', 'Protective-serv', 'Priv-house-serv', 'Armed-Forces']

relationship
['Husband', 'Not-in-family', 'Unmarried', 'Own-child', 'Wife', 'Other-relative']

race
['White', 'Black', 'Asian-Pac-Islander', 'Other', 'Amer-Indian-Eskimo']

sex
['Male', 'Female']

native.country
['United-States', 'Vietnam', 'Canada', 'Cambodia', 'Mexico', 'Ireland', '?', 'Jamaica', 'Puerto-Rico', 'Guatemala', 'Philippines', 'Haiti', 'Germany', 'England', 'Columbia', 'Thailand', 'Hong', 'Nicaragua', 'Scotland', 'Dominican-Republic', 'Italy', 'Poland', 'Ecuador', 'El-Salvador', 'India', 'Greece', 'Portugal', 'Cuba', 'Taiwan', 'Outlying-US(Guam-USVI-etc)', 'China', 'Japan', 'South', 'Laos', 'France', 'Iran', 'Yugoslavia', 'Trinadad&Tobago', 'Peru', 'Hungary', 'Honduras', 'Holand-Netherlands']

In [7]:
def toNum(data):
    data['workclass'] = data['workclass'].astype(str)
    data['workclass'].replace({'?':0, 'Self-emp-not-inc':1,'Private':2,'Federal-gov':3,'Local-gov':4,'Self-emp-inc':5,'State-gov':6,'Never-worked':7,'Without-pay':8}, inplace=True)
    data['education'] = data['education'].astype(str)
    data['education'].replace({'Prof-school':0, 'Bachelors':1,'HS-grad':2,'Doctorate':3,'Masters':4,'Some-college':5,'11th':6,'12th':7,'5th-6th':8,'Assoc-acdm':9,'9th':10,'Preschool':11,'Assoc-voc':12,'7th-8th':13,'10th':14,'1st-4th':15}, inplace=True)
    data['marital.status'] = data['marital.status'].astype(str)
    data['marital.status'].replace({'Married-civ-spouse':0, 'Divorced':1,'Never-married':2,'Married-spouse-absent':3,'Widowed':4,'Separated':5,'Married-AF-spouse':6}, inplace=True)
    data['occupation'] = data['occupation'].astype(str)
    data['occupation'].replace({'Prof-specialty':0, 'Exec-managerial':1,'Craft-repair':2,'Transport-moving':3,'Other-service':4,'Machine-op-inspct':5,'Adm-clerical':6,'Sales':7,'Handlers-cleaners':8,'?':9,'Farming-fishing':10,'Tech-support':11,'Priv-house-serv':12,'Protective-serv':13,'Armed-Forces':14}, inplace=True)
    data['relationship'] = data['relationship'].astype(str)
    data['relationship'].replace({'Husband':0, 'Other-relative':1,'Unmarried':2,'Not-in-family':3,'Own-child':4,'Wife':5}, inplace=True)
    data['race'] = data['race'].astype(str)
    data['race'].replace({'Asian-Pac-Islander':0, 'White':1,'Black':2,'Other':3,'Amer-Indian-Eskimo':4}, inplace=True)
    data['sex'] = data['sex'].astype(str)
    data['sex'].replace({'Male':0, 'Female':1}, inplace=True)
    data['native.country'] = data['native.country'].astype(str)
    data['native.country'].replace({'India':0, 'United-States':1,'Vietnam':2,'England':3,'Mexico':4,'?':5,'Guatemala':6,'Iran':7,'Laos':8,'Germany':9,'Thailand':10,'Ireland':11,'Philippines':12,'Hong':13,'China':14,'Dominican-Republic':15,'Scotland':16,'Haiti':17,'Cuba':18,'Jamaica':19,'Peru':20,'Canada':21,'Cambodia':22,'Italy':23,'Poland':24,'Yugoslavia':25,'El-Salvador':26,'Columbia':27,'Greece':28,'Ecuador':29,'Japan':30,'South':31,'Puerto-Rico':32,'Nicaragua':33,'Outlying-US(Guam-USVI-etc)':34,'Taiwan':35,'Honduras':36,'Trinadad&Tobago':37,'Portugal':38,'Hungary':39,'France':40,'Holand-Netherlands':41}, inplace=True)
    return data

In [8]:
clean_train = toNum(train)
clean_test = toNum(test)

In [9]:
clean_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23842 entries, 0 to 23841
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             23842 non-null  int64
 1   workclass       23842 non-null  int64
 2   fnlwgt          23842 non-null  int64
 3   education       23842 non-null  int64
 4   education.num   23842 non-null  int64
 5   marital.status  23842 non-null  int64
 6   occupation      23842 non-null  int64
 7   relationship    23842 non-null  int64
 8   race            23842 non-null  int64
 9   sex             23842 non-null  int64
 10  capital.gain    23842 non-null  int64
 11  capital.loss    23842 non-null  int64
 12  hours.per.week  23842 non-null  int64
 13  native.country  23842 non-null  int64
dtypes: int64(14)
memory usage: 2.5 MB

In [10]:
p = (train.isna().sum()/len(train)*100).sort_values(ascending=False)
print(p)

income>50K        0.0
native.country    0.0
hours.per.week    0.0
capital.loss      0.0
capital.gain      0.0
sex               0.0
race              0.0
relationship      0.0
occupation        0.0
marital.status    0.0
education.num     0.0
education         0.0
fnlwgt            0.0
workclass         0.0
age               0.0
dtype: float64

In [11]:
p = (train.isna().sum()/len(test)*100).sort_values(ascending=False)
print(p)

income>50K        0.0
native.country    0.0
hours.per.week    0.0
capital.loss      0.0
capital.gain      0.0
sex               0.0
race              0.0
relationship      0.0
occupation        0.0
marital.status    0.0
education.num     0.0
education         0.0
fnlwgt            0.0
workclass         0.0
age               0.0
dtype: float64

In [12]:
y = train['income>50K']
x = pd.get_dummies(train.drop('income>50K', axis=1))

x_train, x_test, y_train, y_test = train_test_split(x, y, random_state=1)

In [13]:
def fitAndPredict(model):
    
    model.fit(x_train, y_train)
    prediction = model.predict(x_test)
    return accuracy_score(y_test, prediction)

In [14]:
model1 = LogisticRegression(solver='liblinear', random_state=42)
model2 = GradientBoostingClassifier()
model3 = RandomForestClassifier()
model4 = SGDClassifier()
model5 = SVC()
model6 = MLPClassifier()

models = [model1, model2, model3, model4, model5, model6]
i = 0
for model in models:
    i +=1
    print("Model ", i,":", model)
    print("ACC: ", fitAndPredict(model))

Model  1 : LogisticRegression(random_state=42, solver='liblinear')
ACC:  0.80928
Model  2 : GradientBoostingClassifier()
ACC:  0.872
Model  3 : RandomForestClassifier()
ACC:  0.85904
Model  4 : SGDClassifier()
ACC:  0.7968
Model  5 : SVC()
ACC:  0.79392
Model  6 : MLPClassifier()
ACC:  0.7984

In [15]:
#model = LogisticRegression(solver='liblinear', random_state=0)
#model.fit(x_train, y_train)

In [16]:
model = GradientBoostingClassifier(min_samples_split=20, min_samples_leaf=60, max_depth=3, max_features=7)
fitAndPredict(model)

0.86672

In [17]:
clean_train.info()
clean_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000 entries, 0 to 24999
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             25000 non-null  int64
 1   workclass       25000 non-null  int64
 2   fnlwgt          25000 non-null  int64
 3   education       25000 non-null  int64
 4   education.num   25000 non-null  int64
 5   marital.status  25000 non-null  int64
 6   occupation      25000 non-null  int64
 7   relationship    25000 non-null  int64
 8   race            25000 non-null  int64
 9   sex             25000 non-null  int64
 10  capital.gain    25000 non-null  int64
 11  capital.loss    25000 non-null  int64
 12  hours.per.week  25000 non-null  int64
 13  native.country  25000 non-null  int64
 14  income>50K      25000 non-null  int64
dtypes: int64(15)
memory usage: 2.9 MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23842 entries, 0 to 23841
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             23842 non-null  int64
 1   workclass       23842 non-null  int64
 2   fnlwgt          23842 non-null  int64
 3   education       23842 non-null  int64
 4   education.num   23842 non-null  int64
 5   marital.status  23842 non-null  int64
 6   occupation      23842 non-null  int64
 7   relationship    23842 non-null  int64
 8   race            23842 non-null  int64
 9   sex             23842 non-null  int64
 10  capital.gain    23842 non-null  int64
 11  capital.loss    23842 non-null  int64
 12  hours.per.week  23842 non-null  int64
 13  native.country  23842 non-null  int64
dtypes: int64(14)
memory usage: 2.5 MB

In [18]:
predict = model.predict(pd.get_dummies(clean_test))

output = pd.DataFrame({'ID':clean_test.index+1,'Prediction': predict})
output.to_csv('YuSong.csv', index=False)
print("Submission saved")

Submission saved